@{
    ViewData["Title"] = "JavaScript Quiz";
}

<h1>Verbal Aptitude - Information</h1>
<div>
    <form id="studentForm">

        <h2>Which state got its first woman chief minister in 2011?</h2>
        <label for="var_string"><input type="radio" name="variable" value="0" id="var_string" />West Bengal</label>
        <label for="var_join"><input type="radio" name="variable" value="0" id="var_join" />Uttar Pradesh</label>
        <label for="var_info"><input type="radio" name="variable" value="25" id="var_info" />Jammu and Kashmir</label>
        <label for="var_condition"><input type="radio" name="variable" value="0" id="var_condition" />Maharashtra</label>
        <label for="var_condition1"><input type="radio" name="variable" value="0" id="var_condition" />Andhra Pradesh</label>

        <h2>Gandhiji’s Dandi march was in</h2>
        <label for="sub_string"><input type="radio" name="sub" value="25" id="sub_string" />1920</label>
        <label for="sub_join"><input type="radio" name="sub" value="0" id="sub_join" />1922</label>
        <label for="sub_info"><input type="radio" name="sub" value="0" id="sub_info" />1919</label>
        <label for="sub_condition"><input type="radio" name="sub" value="0" id="sub_condition" />1930</label>
        <label for="sub_condition1"><input type="radio" name="sub" value="0" id="sub_condition" />1940</label>

        <h2>In which of the following countries was the atom bomb invested??</h2>
        <label for="cat_string"><input type="radio" name="con" value="0" id="cat_string" />India</label>
        <label for="cat_join"><input type="radio" name="con" value="25" id="cat_join" />U.S.A</label>
        <label for="cat_info"><input type="radio" name="con" value="0" id="cat_info" />France</label>
        <label for="cat_condition"><input type="radio" name="con" value="0" id="cat_condition" />Germany</label>
        <label for="cat_condition1"><input type="radio" name="con" value="0" id="cat_condition" />U.K</label>

        <h2>All India forward block was founded by</h2>
        <label for="if_string"><input type="radio" name="ifstate" value="0" id="if_string" />Bal Gangadhar tilak</label>
        <label for="if_join"><input type="radio" name="ifstate" value="0" id="if_join" />Sardar Vallabhbhai Patel</label>
        <label for="if_info"><input type="radio" name="ifstate" value="0" id="if_info" />Lala Lajpat rai</label>
        <label for="if_condition"><input type="radio" name="ifstate" value="25" id="if_condition" />Subhas Chandra Bose</label>
        <label for="if_condition1"><input type="radio" name="ifstate" value="25" id="if_condition" />Mahatma Gandhi</label>

        <h2>Which is the most densely populated country in the world?</h2>
        <label for="if_string"><input type="radio" name="ifstate" value="0" id="if_string" />India</label>
        <label for="if_join"><input type="radio" name="ifstate" value="0" id="if_join" />China</label>
        <label for="if_info"><input type="radio" name="ifstate" value="0" id="if_info" />America</label>
        <label for="if_condition"><input type="radio" name="ifstate" value="25" id="if_condition" />Russia</label>
        <label for="if_condition1"><input type="radio" name="ifstate" value="25" id="if_condition" />France</label>

        <button type="submit" value="Submit">Submit</button>
        <button type="submit" value="Submit">Next</button>

    </form>
</div>

